.stat
  color: $black
  +font(TimesNewRoman)
  font-weight: 400
  max-width: 1240px
  margin-left: auto
  margin-right: auto
  padding-top: 120px
  padding-right: 100px
  padding-left: 150px
  padding-bottom: 120px

  &__inner
    display: flex
    flex-direction: column

  &__header
    align-self: flex-end
    text-align: right
    font-size: 29px
    line-height: 40px
    margin-bottom: 94px

  &__title
    font-weight: 600
    align-self: center
    font-size: 29px
    line-height: 34px

  &__head-text
    font-size: 29px
    line-height: 34px
    align-self: center
    margin-bottom: 30px

  &__change-box

  &__text
    font-size: 29px
    line-height: 34px
    text-indent: 45px
    text-align: justify

  &__text--end
    margin-bottom: 60px

  &__beg
    font-size: 29px
    line-height: 34px
    margin-bottom: 30px
    align-self: center

  &__signature
    margin-top: 128px
    display: flex
    justify-content: space-between

    & p
      text-indent: 0

  &__space
    display: block
    border-bottom: 2px solid $black
    width: 70px

    &--big
      width: 150px

  &__date
    display: flex
    font-size: 29px
    line-height: 34px

.stat-header

  &__list

  &__item

  &__text

    span
      text-decoration: underline

  &__line
    display: block
    height: 28px
    border-bottom: 2px solid $black

  &__sub-list
    margin-top: 30px

  &__sub-list--my

  &__sub-item

.bold
  font-weight: 600
