//- header menu
- var menu = [[`О компании`, `#promo`], [`Продукция`, `#catalog`], [`Контакты`, `#contacts`]]

header.header
  .container
    .header__top
      a(href="#").header__logo
        img.header__logo-img(src="" alt="Логотип" width="" height="")
      nav.header__nav.header-nav
        ul.header-nav__list
          each val, i in menu
            li.header-nav__item
              a.header-nav__link(href=`${val[1]}`)= val[0]
      button.header__close(type='button' area-label="открыть меню") 
    .header__bottom

