footer.page-footer
  .page-footer__inner.container
    .page-footer__col.page-footer__col--left
      p.page-footer__copy 2021 © Isk online
      ul.page-footer__pay.pay
        li.pay__item.pay__item--visa
          +img(`visa`, `png`, `платеж`, `pay__img`, `55`)
        li.pay__item.pay__item--mir
          +img(`mir`, `png`, `платеж`, `pay__img`, `63`)
        li.pay__item.pay__item--mc
          +img(`mc`, `png`, `платеж`, `pay__img`, `30`)


    .page-footer__col.page-footer__col--right
      a.page-footer__link.hover-opacity(href="payment.html" target="_blank") Оплата и возврат
      a.page-footer__link.hover-opacity(href="offer.html" target="_blank") Договор оферта
      a.page-footer__link.hover-opacity(href="politics.html" target="_blank") Политика конфиденциальности
