doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title isk online
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
    meta(name="format-detection" content="telephone=no")
    meta(name="description" content="isk online")
    meta(http-equiv="Cache-Control" content="no-cache")
    meta(property="og:type" content="article")
    meta(property="og:title" content="")
    meta(property="og:description" content="")
    meta(meta property="og:url" content="")
    meta(property="og:image" content="")

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    link(href="css/style.min.css" rel="stylesheet")
