extends ../templates/_document.pug
include ../helpers/mixins.pug

block content

  section.doc
    .doc__inner.container
      ul.doc__breadcrumbs.doc-breadcrumbs
        li.doc-breadcrumbs__item
          a.doc-breadcrumbs__link.hover-opacity(href="index.html") Главная
        li.doc-breadcrumbs__item
          a.doc-breadcrumbs__link.doc-breadcrumbs__link--current.hover-opacity(href="ofert.html") Договор оферты

      .doc__content
        h1.doc__title.size-3 ДОГОВОР-ОФЕРТА ОКАЗАНИЯ УСЛУГ
        p.doc__text Настоящий Договор является публичным договором - договором публичной оферты, то есть, в соответствии с Гражданским кодексом РФ, его условия одинаковы для всех покупателей независимо от статуса (физическое лицо, юридическое лицо, физическое лицо - предприниматель). При полном согласии с данным Договором, покупатель принимает условия и порядок оформления заказа, оплаты товара, доставки товара.

        p.doc__text Настоящий Договор является соглашением между isk-online.ru (Далее по тексту - «Исполнитель») и любым юридическим лицом, физическим лицом-предпринимателем или физическим лицом, пользователем услуг сайта «isk-online.ru», который в дальнейшем именуется "Заказчик".

        p.doc__text Это соглашение носит характер публичной оферты, является эквивалентом "устного соглашения" и, в соответствии с действующим законодательством РФ, имеет надлежащую юридическую силу.

        h3.doc__title.size-3 1. Общие положения и определения сроков

        p.doc__text 1.1. Этот договор является публичной офертой (в соответствии с Гражданским кодексом РФ) и содержит все существенные условия организации оказания услуг дистанционным способом, то есть через сайт Исполнителя услуг - «isk-online.ru».
        p.doc__text 1.2. Заключая Договор, Заказчик подтверждает, что целиком и полностью ознакомлен и согласен с его условиями, а также дает разрешение на обработку своих персональных данных с целью возможности выполнения условий настоящего Договора, (составление исковых заявлений, заявлений о выдаче судебного приказа, договоров, любых заявлений поданных в суд или других государственных органов) возможности проведения взаиморасчетов, а также для получения счетов, актов и других документов. Разрешение на обработку персональных данных действует в течение всего срока действия Договора. Кроме этого, заключением настоящего Договора, Заказчик подтверждает, что ему сообщено (без дополнительного уведомления) о правах, установленные Законом РФ «О защите персональных данных», о целях сбора данных. Объем прав Заказчика, как субъекта персональных данных в соответствии с Законом РФ «О защите персональных данных», ему известен и понятен.
        p.doc__text 1.3. Сайт Исполнителя - «isk-online.ru», это сайт сотворен для оказания услуг, по составлению исковых заявлений, заявлений о выдаче судебного приказа (любых заявлений, подаваемых в суд) на основании заполнения Заказчиком электронной анкеты, размещена на сайте «isk-online.ru».
        p.doc__text 1.4. "Услуги" - информационная поддержка Заказчика, по составлению документов перечень которых содержится на сайте «isk-online.ru». Результатом оказываемой услуги является получение Заказчиком на электронную почту, которая отмечается в электронной анкете, уплаченного им документа. Документ Заказчик получает в формате WORD или PDF в единственном экземпляре.
        p.doc__text 1.5. «Электронная анкета» - информация предоставляемая Заказчиком путем предоставления ответов или выбора определенных данных, которые необходимы заполнить Заказчику при получении выбранных услуг на сайте «isk-online.ru».
        p.doc__text 1.6. "Персональные данные" - любая информация, которая прямо или косвенно относится к определенному лицу, или к лицу, определяется Заказчиком услуг.
        p.doc__text 1.7. Акцепт - в соответствии с Гражданским Кодексом РФ является полным и беспрекословным принятием условий публичного договора. Принятием предложения является - уплата Заказчиком услуг по указанному договору.

        h3.doc__title.size-3 2. Предмет договора и порядок оплаты
        p.doc__text 2.1. Настоящий Договор является публичным договором (далее именуется - Договор), который считается заключенным между Исполнителем, с одной стороны и Заказчиком, с другой, с момента Акцепта последнее всех без исключения условий указанного Договора.
        p.doc__text 2.2. В порядке и на условиях, определенных настоящим Договором Исполнитель обязуется предоставить Заказчику оплаченные им услуги, - а именно документ, в который вносится информация, которая предоставляется Заказчиком, путем заполнения электронной анкеты, размещенной на сайте «isk-online.ru».
        p.doc__text 2.3. Услуги предоставляются на основании настоящего Договора. Действиями, свидетельствующими о согласии соблюдать условия этого Договора является Акцепт Заказчиком p.doc__textусловий Публичной оферты настоящего Договора.
        p.doc__text 2.4. Стоимость услуг определяется непосредственно на сайте «isk-online.ru».
        p.doc__text 2.5. Услуги предоставляются исключительно после 100% предоплаты Услуг Заказчиком.
        p.doc__text 2.6. Исполнитель предоставляет услуги, используя сеть интернет.
        p.doc__text 2.7. Местом оказания услуг считается местонахождение Исполнителя.

        h3.doc__title.size-3 3. Права и обязанности сторон
        p.doc__text.bold 3.1. Заказчик имеет право:
        p.doc__text 3.1.1. Пользоваться Услугами в объеме и на условиях настоящего договора.
        p.doc__text 3.1.2. Использовать полученный по результатам оказания услуг по настоящему договору документ, в своих личных целях.
        p.doc__text 3.1.3. Обращаться к Исполнителю с новаторскими предложениями по улучшению процесса оказания услуг.
        p.doc__text.bold 3.2. Заказчик обязуется:
        p.doc__text 3.2.1. При обращении к Исполнителю по оказанию услуг заполнить электронную анкету, которая размещена на сайте «isk-online.ru», заполнение которой обусловлено получением определенной услуги.
        p.doc__text 3.2.2 Оплатить Услуги, стоимость которых определена на сайте «isk-online.ru».
        p.doc__text.bold 3.3. Исполнитель имеет право:
        p.doc__text 3.3.1. Требовать от Заказчика выполнения условий настоящего Договора.
        p.doc__text 3.3.2. Использовать адрес электронной почты, предоставленный Заказчиком для направления уплаченной Услуги и для дальнейшего информирования Заказчика, о своей деятельности.
        p.doc__text 3.3.3 Бессрочно хранить информацию полученную от Заказчика при заполнении электронной анкеты.
        p.doc__text.bold 3.4. Исполнитель обязуется:
        p.doc__text 3.4.1. Обеспечивать Заказчику возможность получения услуг по настоящему Договору.
        p.doc__text 3.4.2. Не менять стоимость за услуги, уже оплаченные Заказчиком.
        p.doc__text 3.4.3. После получения оплаты за оказанные услуги, в кратчайшие сроки, направить на электронный адрес Заказчика, в последнее отмечается при заполнении электронной анкеты, документ, который был оплачен Заказчиком.
        p.doc__text 3.4.4. Принимать к рассмотрению все рационализаторские предложения Заказчика по улучшению и качества оказания услуг.

        h3.doc__title.size-3 4. Другие условия
        p.doc__text.bold 4.1. Порядок урегулирования споров:
        p.doc__text 4.1.1. Все споры и споры, которые могут возникнуть в процессе оказания услуг, в связи с принятием, исполнением и / или нарушением положений настоящего Договора регулируются путем переговоров Сторон.
        p.doc__text 4.1.2. В случае недостижения согласия путем переговоров, Заказчик оставляет за собой право на предъявление претензий, которые обязательно должны быть рассмотрены Исполнителем в разумные сроки, с целью урегулирования споров и споров в досудебном порядке.
        p.doc__text 4.1.3. В случае недостижения согласия между Сторонами путем переговоров и невозможности урегулирования в досудебном порядке, все споры и разногласия разрешаются в судебном порядке по месту нахождения Исполнителя.
        p.doc__text 4.1.4. К отношениям Сторон, вытекающих из принятия и исполнения настоящего Договора, применяются действующие нормы и положения действующего законодательства РФ.
        p.doc__text.bold 4.2. Ограничение ответственности Исполнителя.
        p.doc__text 4.2.1. Принимая условия настоящего Договора Заказчик не вправе требовать возврата уплаченных им средств за соответствующие услуги, а Исполнитель, в свою очередь, не возвращает Заказчику уплаченные последним средства.
        p.doc__text 4.2.2. Ответственность Исполнителя перед Заказчиком в случае предъявления последним требований / претензий о возмещении ущерба в результате неоказания и / или оказания услуг ненадлежащего качества, что подтверждается соответствии с действующим законодательством РФ, возмещается исключительно в пределах стоимости соответствующих услуг, оплаченных Заказчиком.
        p.doc__text 4.2.3 Исполнитель не несет ответственность за неправильное заполнение Заказчиком электронной анкеты и за предоставление недостоверной информации при заполнении соответствующей анкеты.
        p.doc__text 4.2.4 Исполнитель не несет ответственность за отказ судов в открытии производства по делу на основании документов полученных на сайте «isk-online.ru», а также за принятие решений об отказе в удовлетворении заявлений полученных Заказчиком на сайте «isk-online.ru».
        p.doc__text.bold 4.3. Заключительные положения.
        p.doc__text 4.3.1. Исполнитель оставляет за собой право в одностороннем порядке вносить изменения к настоящему Договору. Указанные изменения не могут влиять на стоимость и ограничивать качество и объем услуг, предоставляемых в течение оплаченного срока оказания услуг.
        p.doc__text 4.3.2. Все изменения к настоящему Договору утверждаются соответствующим решением Исполнителя. Все изменения к настоящему Договору публикуются на Сайте Исполнителя.
        p.doc__text 4.3.3. Все изменения к настоящему Договору вступают в силу одновременно с их публикацией на Сайте Исполнителя.
        p.doc__text 4.3.4. Заказчик считаются сообщенным о внесенных в Договор изменения с момента опубликования этих изменений на Сайте Исполнителя.
        p.doc__text 4.3.5. Внесены изменения в Договор, вступившие в силу, распространяются на всех Заказчиков.

        h3.doc__title.size-3 5. Ответственность сторон
        p.doc__text 5.1. Стороны несут ответственность, предусмотренную действующим законодательством РФ.
        p.doc__text 5.2. Стороны не несут ответственность за нарушение своих обязательств по настоящему Договору, если оно произошло не по их вине. Сторона считается невиновным, если докажет, что приняла все зависящие от нее меры для надлежащего исполнения Договора.
        p.doc__text 5.3. Стороны не несут ответственность друг перед другом косвенный ущерб (в том числе за недополученную прибыль).
        p.doc__text 5.4. Ни одна из Сторон не несет ответственность за неисполнение или ненадлежащее исполнение своих обязательств по настоящему Договору, если это неисполнение или ненадлежащее исполнение обусловлены действием обстоятельств непреодолимой силы, которые находились вне ее контроля (форс-мажорных обстоятельств).

        h3.doc__title.size-3 6. Срок действия договора и условия его прекращения
        p.doc__text 6.1. Настоящий Договор вступает в силу с момента его Акцепта Заказчиком и действия до времени получения Заказчиком на электронный адрес Услуги (Документа), который был оплачен Заказчиком.
        p.doc__text 6.2. Исполнитель считается исполнившим свои обязательства по настоящему Договору, а исполнители принявшим услугу после направления на электронную почту Заказчика уплаченного им Документа.

        h3.doc__title.size-3 7. Заключительные положения
        p.doc__text 7.1. Этот договор регулируется действующим законодательством РФ.
        p.doc__text 7.2. Признание любого положения или пункта настоящего Договора или приложений к нему не действительным, не влияет на действительность остальных положений и условий Договора.
        p.doc__text 7.3. После Акцепта условий Публичной оферты Договора все предыдущие Договоры об оказании услуг, заключенных с Исполнителем раньше, теряют силу.

        h3.doc__title.size-3 8. Реквизиты исполнителя
        p.doc__text isk-online.ru

        p.doc__text ИП Гордилежа Алексей Александрович
        p.doc__text ОГРНИП - 321385000015236, ИНН 380896026485
        p.doc__text р/с №40802810538000112325 в ПАО Сбербанк в г.Москва, БИК 044525225, к/с 30101810400000000225
