extends ../templates/_document.pug
include ../helpers/mixins.pug

block content

  section.doc
    .doc__inner.container
      ul.doc__breadcrumbs.doc-breadcrumbs
        li.doc-breadcrumbs__item
          a.doc-breadcrumbs__link.hover-opacity(href="index.html") Главная
        li.doc-breadcrumbs__item
          a.doc-breadcrumbs__link.doc-breadcrumbs__link--current.hover-opacity(href="ofert.html") Договор оферты

      .doc__content
        h1.doc__title.size-3 ДОГОВОР-ОФЕРТА ПРЕДОСТАВЛЕНИЯ УСЛУГ
        p.doc__text Настоящий Договор является публичным договором - договором публичной оферты, то есть, в соответствии с Гражданским кодексом РФ, его условия одинаковы для всех покупателей независимо от статуса (физическое лицо, юридическое лицо, физическое лицо - предприниматель). При полном согласии с данным Договором, покупатель принимает условия и порядок оформления заказа, оплаты товара, доставки товара.

        p.doc__text Настоящий Договор является соглашением между isk-online.ru (Далее по тексту - «Исполнитель») и любым юридическим лицом, физическим лицом-предпринимателем или физическим лицом, пользователем услуг сайта «isk-online.ru», которая в дальнейшем именуется "Заказчик".

        p.doc__text Это соглашение носит характер публичной оферты, является эквивалентом "устного соглашения" и, в соответствии с действующим законодательством РФ, имеет надлежащую юридическую силу.
        
        
  