extends ../templates/_document.pug
include ../helpers/mixins.pug

block content

  section.doc
    .doc__inner.container
      ul.doc__breadcrumbs.doc-breadcrumbs
        li.doc-breadcrumbs__item
          a.doc-breadcrumbs__link.hover-opacity(href="index.html") Главная
        li.doc-breadcrumbs__item
          a.doc-breadcrumbs__link.doc-breadcrumbs__link--current.hover-opacity(href="payment.html") Оплата и возврат

      .doc__content
        h1.doc__title.size-3 Информация об оплате

        ul.doc__list.doc-pay
          li.doc-pay__item  
            figure.doc-pay__wrap-img
              +img(`visa`, `png`, `платеж`, `doc-pay__img`, `74`)
            p.doc-pay__text VISA International

          li.doc-pay__item  
            figure.doc-pay__wrap-img
              +img(`mir`, `png`, `платеж`, `doc-pay__img`, `84`)
            p.doc-pay__text Mastercard Worldwide
          
          li.doc-pay__item  
            figure.doc-pay__wrap-img
              +img(`mc`, `png`, `платеж`, `doc-pay__img`, `38`)
            p.doc-pay__text МИР
          
        p.doc__text Оплата осуществляется непосредственно на сайте платежном шлюзе ПАО СБЕРБАНК сразу после оформления заказа. После подтверждения состава заказа и ввода ваших личных данных откроется страница, где вам будет предложено ввести данные вашей банковской карты (номер карты, ФИО владельца, срок действия карты, CVV/CVC код)*.
        p.doc__text После ввода данных карты вам останется только проверить их и нажать кнопку «Оплатить». Оплата происходит через авторизационный сервер процессингового центра банка.
        p.doc__text Важно! Банк не принимает к оплате виртуальные банковские карты.
        p.doc__text Важно! Банк ни при каких обстоятельствах не запрашивает у вас PIN-код вашей карты. Никогда не передавайте этот код третьим лицам (в том числе лицам, представляющимся сотрудниками банка).
        p.doc__text При аннулировании заказа возврат денежных средств осуществляется в течение 30 рабочих дней на банковскую карту клиента, указанную в заказе. Для возврата денежных средств вам необходимо выслать письменное уведомление на почту gordilezha@mail.ru детально описав ситуацию и причины возврата, не забудьте указать номер заказа. 
        hr.doc__line
        p.doc__text.doc__text--note * Передача этих сведений производится с соблюдением всех необходимых мер безопасности. Данные будут сообщены только на авторизационный сервер банка по защищенному каналу (протокол SSL 3.0). Информация передается в зашифрованном виде и сохраняется только на специализированном сервере платежной системы. Сайт не знает и не хранит данные по Вашей пластиковой карте.
        