extends ../templates/_main.pug
include ../helpers/mixins.pug





block content
  

  section.create 
    .create__inner.container 

      ul.create__breadcrumbs.breadcrumbs
        li.breadcrumbs__item 
          a.breadcrumbs__link.hover-opacity(href="index.html") Главная
        li.breadcrumbs__item 
          a.breadcrumbs__link.hover-opacity(href="index.html") Тип иска
        li.breadcrumbs__item 
          a.breadcrumbs__link.hover-opacity(href="razvod-step-2.html") Тарифный план 
        li.breadcrumbs__item 
          a.breadcrumbs__link Данные заявления 
        li.breadcrumbs__item 
          a.breadcrumbs__link.breadcrumbs__link--current Получить заявление
      
      h1.create__title.title.size-4 Создание заявления

      ul.create__path.path 

        li.path__item 
          .path__head 
            p.path__name Тип иска:
            a.path__link.hover-opacity(href="index.html") Изменить
          p.path__text  Заявление в суд о&nbsp;расторжении брака
        
        li.path__item
          .path__head 
            p.path__name Тарифный план:
            a.path__link.hover-opacity(href="razvod-step-2.html") Изменить
          p.path__text Вы готовите и подаете заявление в суд самостоятельно 0&nbsp;₽ 

        li.path__item.path__item
          .path__head 
            p.path__name Данные заявления
            a.path__link Изменить
          p.path__text  Внимательно заполните все необходимые поля для формирования заявления 

        li.path__item.path__item--end.path__item--current
          figure.path__img-wrap 
            +img(`hands`, `png`, ``, `card__img`, `71`)
          p.path__text  Получите завяление согласно выбранному тарифному плану

  section.simple 
    .simple__inner.container 
      .simple__col.simple__col--left
        .simple__head
          figure.simple__img-wrap
            +img(`hands`, `png`, ``, `card__img`, `102`)
          h3.simple__title.size-3 Заявление в суд о&nbsp;расторжении брака

        .simple__item.simple-plan
          h3.simple-plan__title <mark>Вы</mark> готовите и подаете заявление в суд самостоятельно

          ul.simple-plan__list 
            li.simple-plan__item 
              figure.simple-plan__img-wrap 
                +img(`isk`, `png`, ``, `simple-plan__img`, `40`)
              p.simple-plan__text Шаблон заявления (2021 г. редакции)
          
          .simple-plan__price 
            p.simple-plan__sum.size-1 0 ₽

      .simple__col.simple__col--right
        form.simple-form(name="marriage-simple" metod="get" acton="#")
          fieldset.simple-form__fieldset 
            legend.simple-form__legend.size-1 Получите шаблон заявления оставив ваш e-mail
            .simple-form__box
              label.simple-form__label 
                span Введите email
                input(type="email" name="my-marriage-email" placeholder="Введите email").simple-form__input

          button.simple-form__btn(type="submit") Получить шаблон
          p.simple-form__text Нажимая на кнопку вы соглашаетесь с 
            a.simple-form__ofert(href="files/contract.pdf" target="_blank")  договором-офертой

        .simple__download.download.hidden
          h3.download__title.size-1 Шаблон доступен для скачивания
          .download__box 
            figure.download__img-wrap
              +img(`isk`, `png`, ``, `download__img`, `40`)
            p.download__text Шаблон заявления (2021 г. редакции)
          
          a.download__link(href="#" download) Скачать шаблон

    