extends ../templates/_statement.pug
include ../helpers/mixins.pug

block content

  section.stat 
    .stat__inner 
      ul.stat__header.stat-header__list
        li.stat-header__item 
          p.stat-header__text.bold Мировому судье судебного участка № <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>

          span.stat-header__line.bold 
        li.stat-header__item
          ul.stat-header__sub-list
            li.stat-header__sub-item
              span.stat-header__text.bold Истец: 
              u0020
              span.stat-header__text.stat-my-surname {%my-surname%}
              u0020
              span.stat-header__text.stat-my-name {%my-name%}
              u0020
              span.stat-header__text.stat-my-second-name {%my-second-name%},

            li.stat-header__sub-item
              span.stat-header__text Адрес:
              u0020 
              span.stat-header__text.stat-my-city г. {%my-city%}
              u0020
              span.stat-header__text.stat-my-type-street {%my-type-street%}.
              u0020
              span.stat-header__text.stat-my-street {%my-street%},
              u0020
              span.stat-header__text.stat-my-number-home д. {%my-number-home%},
              u0020
              span.stat-header__text.stat-my-number-flat кв. {%my-number-flat%},
            
            li.stat-header__sub-item
              span.stat-header__text тел: 
              span.stat-header__text.stat-my-phone-code {%my-phone-code%}
              u0020
              span.stat-header__text.stat-my-phone {%my-phone%}

          ul.stat-header__sub-list
            li.stat-header__sub-item
              span.stat-header__text.bold Ответчик:
              u0020
              span.stat-header__text.stat-defendant-surname {%defendant-surname%}
              u0020
              span.stat-header__text.stat-defendant-name {%defendant-name%}
              u0020
              span.stat-header__text.stat-defendant-second-name {%defendant-second-name%},

            li.stat-header__sub-item
              span.stat-header__text.stat-defendant-day {%defendant-day%}.
              span.stat-header__text.stat-defendant-month {%defendant-month%}.
              span.stat-header__text.stat-defendant-year {%defendant-year%}
              u0020
              span.stat-header__text года рождения

            li.stat-header__sub-item
              span.stat-header__text Адрес: 
              span.stat-header__text.stat-defendant-city г. {%defendant-city%}
              u0020
              span.stat-header__text.stat-defendant-type-street {%type-street%}.
              u0020
              span.stat-header__text.stat-defendant-street {%defendant-street%},
              u0020
              span.stat-header__text.stat-defendant-number-home д. {%defendant-number-home%},
              u0020
              span.stat-header__text.stat-defendant-number-flat кв. {%defendant-number-flat%},
            
            li.stat-header__sub-item
              span.stat-header__text тел: 
              span.stat-header__text.stat-defendant-phone-code {%defendant-phone-code%}
              u0020
              span.stat-header__text.stat-defendant-phone {%defendant-phone%}

          ul.stat-header__sub-list
            li.stat-header__sub-item
              span.stat-header__text.bold Государственная пошлина: 
              span.stat-header__text 600 руб.
              
              
      h1.stat__title ИСКОВОЕ ЗАЯВЛЕНИЕ
      p.stat__head-text о расторжении брака
      .stat__change-box 
        p.stat__text Я и ответчик – 
          span.stat-defendant-surname {%defendant-surname%}
          u0020
          span.stat-defendant-name {%defendant-name%}
          u0020
          span.stat-defendant-second-name {%second-name%},
          u0020
          span.stat-defendant-day {%defendant-day%}.
          span.stat-defendant-month {%defendant-month%}.
          span.stat-defendant-year {%defendant-year%} года рождения заключили брак в местном органе регистрации актов гражданского состояния. 
          
      p.stat__text На сегодняшний день брачные отношения между нами прекращены, общего хозяйства не ведем.

      p.stat__text.many-children От совместного брака у нас имеются общие несовершеннолетние дети:
      p.stat__text.many-children
        span.stat-1-children-surname {%1-children-surname%}
        u0020
        span.stat-1-children-name {%1-children-name%}
        u0020
        span.stat-1-children-second-name {%1-children-second-name%}
        u0020
        span.stat-1-childrens-day {%1-childrens-day%}.
        span.stat-1-childrens-month {%1-childrens-month%}.
        span.stat-1-childrens-year {%1-childrens-year%}
        u0020
        span года рождения,
      p.stat__text.many-children
        span.stat-2-children-surname {%2-children-surname%}
        u0020
        span.stat-2-children-name {%2-children-name%}
        u0020
        span.stat-2-children-second-name {%2-children-second-name%}
        u0020
        span.stat-2-childrens-day {%2-childrens-day%}.
        span.stat-2-childrens-month {%2-childrens-month%}.
        span.stat-2-childrens-year {%2-childrens-year%}
        u0020
        span года рождения.
      p.stat__text.many-children.hidden
        span.stat-1-children-surname {%1-children-surname%}
        u0020
        span.stat-1-children-name {%1-children-name%}
        u0020
        span.stat-1-children-second-name {%1-children-second-name%}
        u0020
        span.stat-1-childrens-day {%1-childrens-day%}.
        span.stat-1-childrens-month {%1-childrens-month%}.
        span.stat-1-childrens-year {%1-childrens-year%}
        u0020
        span года рождения
      p.stat__text.many-children Спор о месте жительства детей и их воспитании, также, как и спор о содержании несовершеннолетних детей, между нами отсутствуют.


      p.stat__text Дальнейшее ведение совместного хозяйства и сохранение брачных отношений с ответчиком невозможно. Супружеская жизнь с ответчиком утратила чувства взаимной любви и уважения, которые служат основой для построения семьи. Примирение сторон, заключающееся в налаживании семейной жизни, невозможно, в установленном законом порядке действия, направленные на примирение сторон, оказались безрезультатны.
      p.stat__text Поскольку в силу сложившихся жизненных обстоятельств дальнейшая совместная жизнь с ответчиком невозможна и единственным разумным выходом из ситуации является расторжение брака.
      p.stat__text В соответствии с пунктом 2 статьи 16 Семейного кодекса РФ брак может быть прекращен путем его расторжения по заявлению одного из супругов.
      p.stat__text Расторжение брака производится в судебном порядке при наличии у супругов общих несовершеннолетних детей или при отсутствии согласия одного из супругов на расторжение брака (пункт 1 статьи 21 Семейного кодекса РФ).
      p.stat__text Согласно пункту 2 статьи 22 Семейного кодекса РФ при рассмотрении дела о расторжении брака при отсутствии согласия одного из супругов на расторжение брака суд вправе принять меры к примирению супругов и вправе отложить разбирательство дела, назначив супругам срок для примирения в пределах трех месяцев.
      p.stat__text Поскольку указанная в пункте 2 статьи 22 Семейного кодекса РФ мера в виде срока для примирения сторон не принесла результатов, направленных на сохранение семьи, дальнейшая совместная жизнь с ответчиком и сохранение семьи невозможны, настаиваю на расторжении брака без отложения разбирательства дела в рамках указанной нормы.
      p.stat__text.stat__text--end На основании вышеизложенного, руководствуясь статьями 22, 131 - 132, 198 Гражданского процессуального кодекса РФ,

      p.stat__beg.bold ПРОШУ СУД:
      p.stat__text.stat__text--end Расторгнуть брак, заключенный «<span class="stat__space"></span>» <span class="stat__space stat__space--big"> </span> г. в местном органе регистрации актов гражданского состояния, между мной и ответчиком.
      
      p.stat__text Приложение:
      p.stat__text 1. Квитанция об уплате государственной пошлины;
      p.stat__text 2. Свидетельство о заключении брака;
      p.stat__text 3. Копия свидетельств о рождении детей;
      p.stat__text 4. Уведомление о вручении копии иска ответчику.
      p.stat__text 5. Опись вложения копии иска ответчику;

      .stat__signature
        p.stat__date «<span class="stat__space"></span>»<span class="stat__space stat__space--big"></span>2021 года
        p.stat__date <span class="stat__space stat__space--big"></span>/<span class="stat__space stat__space--big"></span>/




          

