include ../modules/_head.pug

body.page-body
  //- include ../modules/_header.pug
  header

  main.page-main
    block content

  footer

  //- include ../modules/_footer.pug

  //- include ../modules/_scripts.pug